.button{
    height: 80px;
    width: 200px;
    color: black;
    border-radius: 10px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
    padding: 0px;
}

.btn{
    
    padding: auto;
}